div {
    background-color: white;
    display: inline-block;
    width: 100%;
    margin: 20px;

}

span {
    vertical-align: auto;
    margin:auto;
    font-family: "Arial";
    font-size: 30px;
    color:white;
}

a:link {
    text-decoration: none;
}

.red-mini {
    height: 200px;
    width: 20%;
    margin-left: 10%;
    background-color: red;
}

.blue-mini {
    height: 200px;
    width: 20%;
    margin-left: 10%;
    background-color: blue;
}

.grey-mini {
    height: 200px;
    width: 20%;
    margin-left: 10%;
    background-color: black;
}

.red {
    background-color:red;
    margin: 0;
    width: 28%;
    height: 40%;
}

.red1 {
    background-color:red;
    margin: 0;
    width: 6%;
    height: 40%;
}

.blue {
    background-color: blue;
    margin: 0;
    width: 68%;
    height: 40%;
}

.blue1 {
    background-color: blue;
    margin: 0;
    width: 68%;
    height: 40%;
}

.grey {
    background-color: black;
    height: 40%;
    width: 13%;
    margin: 0;
}

.space {
    height: 500px;
}